body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Ajuste a largura para que se ajuste bem em telas pequenas */
    max-width: 800px; /* Largura máxima para telas grandes */
}

.progress-container {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 38vh;
    background-color: #ddd;
    border-radius: 25px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}

.progress-bar {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4caf50;
    transition: width 0.5s;
}

.left-bar {
    left: 0;
    border-radius: 25px 0 0 25px;
}

.right-bar {
    right: 0;
    border-radius: 0 25px 25px 0;
}

.progress-image {
    top: 0;
    position: absolute;
    width: 20vw; /* Ajuste a largura da imagem em relação à largura da tela */
    height: auto; /* Mantém a proporção da imagem */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente a imagem */
    transition: transform 0.5s;
}

.left-image {
    left: 0;
}

.right-image {
    right: 0;
}

.progress-time {
    position: absolute;
    font-size: 1.2em;
    color: #333;
    margin-top: 15vh;
    text-align: center;
}

@media (max-width: 600px) {
    .progress-container {
        height: 150px; /* Ajusta a altura da barra em telas menores */
    }

    .progress-bar {
        height: 20px; /* Ajusta a altura das barras em telas menores */
    }

    .progress-image {
        width: 30vw; /* Ajusta a largura da imagem em telas menores */
    }

    .progress-time {
        font-size: 1em; /* Ajusta o tamanho da fonte do contador em telas menores */
    }
}
